<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/vant.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/index.css" type="text/css" />
</head>

<body>
  <div id="app">
      <div style="text-align: center;color: #3983bf;font-weight: bold;font-size: 18px;line-height: 2">8秒轮询一次，一次只读一个消息</div>
      <header class="header">
          <H1 style="color: #ff7707">
              语音播放系统部分警报
          </H1>
          <van-row class="open-wrap">
              <van-col>
                  <van-switch @click="startAutoFn"  v-model="isOpenAudioMsg" />
              </van-col>
              <van-col>
                  <h2 class="open-status-yes" v-show="isOpenAudioMsg">已开启</h2>
                  <h2 class="open-status-no" v-show="!isOpenAudioMsg">未开启</h2>
              </van-col>
          </van-row>

      </header>
      <div class="content">
          <van-row class="line-item table-header">
              <van-col style="text-align: center" span="10">消息内容</van-col>
              <van-col span="3">播报状态</van-col>
              <van-col span="3">剩余播报次数</van-col>
              <van-col span="4">播报时间</van-col>
              <van-col span="4">操作</van-col>
          </van-row>
          <template v-for="({ id, messageText, audioStatus, createdTime, updateTime }, index) in msgList" :key="id">
              <van-row class="line-item table-tr" :style="{ background: audioStatus === 'DOING' ? '#ee5811' : '' }">
                  <van-col style="text-align: center" span="10">{{ messageText }}</van-col>
                  <van-col span="3">
                      {{ statusObj[audioStatus] || audioStatus }}
                      <van-loading v-show="audioStatus === 'DOING'" type="spinner" color="#1989fa" />
                  </van-col>
                  <van-col span="3">0</van-col>
                  <van-col span="4">{{ updateTime }}</van-col>
                  <van-col span="4" v-show="audioStatus!=='示例'"><van-button size="small" @click="deleteMsgFn(id)">删除</van-button></van-col>
              </van-row>
          </template>
      </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
  <script src="/js/libs/vue.main.js"></script>
  <script src="/js/libs/vant.min.js"></script>
  <script src="/js/libs/html2canvas.min.js"></script>
  <script src="/js/index.js"></script>

</body>

</html>
