<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/vant.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/index.css" type="text/css" />
</head>

<body>
  <div id="app">
      <header class="header">
          <H1 style="color: #ff7707">
              语音播放系统部分警报
          </H1>
          <van-row class="open-wrap">
              <van-col>
                  <van-switch @click="startAutoFn"  v-model="isOpenAudioMsg" />
              </van-col>
              <van-col>
                  <h2 class="open-status-yes" v-show="isOpenAudioMsg">已开启</h2>
                  <h2 class="open-status-no" v-show="!isOpenAudioMsg">未开启</h2>
              </van-col>
          </van-row>

      </header>
      <div class="content">
          <van-row class="line-item table-header">
              <van-col style="text-align: center" span="10">消息内容</van-col>
              <van-col span="3">播报状态</van-col>
              <van-col span="3">剩余播报次数</van-col>
              <van-col span="4">推送时间</van-col>
              <van-col span="4">操作</van-col>
          </van-row>
          <van-row class="line-item table-tr" v-for="({ id, messageText, audioStatus, createdTime }, index) in msgList" :key="id">
              <van-col style="text-align: center" span="10">{{ messageText }}</van-col>
              <van-col span="3">{{ audioStatus }}</van-col>
              <van-col span="3">0</van-col>
              <van-col span="4">{{ createdTime }}</van-col>
              <van-col span="4"><van-button size="small">删除</van-button></van-col>
          </van-row>
      </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
  <script src="/js/libs/vue.main.js"></script>
  <script src="/js/libs/vant.min.js"></script>
  <script src="/js/libs/html2canvas.min.js"></script>
  <script src="/js/index.js"></script>

</body>

</html>
